div#optionsForm {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -170px;
    margin-top: -220px;
}

ul.optionsList {
    margin-top: 0;
    margin-bottom: 0;
    padding: 20px 5px;
    list-style-type: none;
    overflow-y: scroll;
    width: 280px;
    height: 300px;
}

ul.optionsList li {
    padding: 10px;
    position: relative;
}

ul.optionsList li label {
    display: inline-block;
}

ul.optionsList li input {
    padding: 2px;
    float: right;
    width: 25%;
}

ul.optionsList li button {
    width: 100%;
    padding: 7px;
    background: #61a8ff;
    border: 1px solid #61a8ff;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
}

div#optionsForm button:hover {
    cursor: pointer;
}

.hidden {
    display: none;
}